<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="42780ShrutiJha.Book-n-Reviews" Publisher="CN=C363EA72-326D-43E1-9839-4E7F1DEAD178" Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="b028a092-7700-4287-b4af-d9ee94c78de4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Book-n-Reviews</DisplayName>
    <PublisherDisplayName>Shruti Jha</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AppStudio.App">
      <m3:VisualElements DisplayName="Book-n-Reviews" Description="This app brings to you the daily updates/reviews on latest books in market.
So get this app before you go on buying a book."
          Square150x150Logo="Assets\Logo.png"
          Square44x44Logo="Assets\SmallLogo.png"
          ForegroundText="light"
          BackgroundColor="#000000">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png" ShortName="Book-n-Reviews">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.jpg"/>
        <m3:ApplicationView MinWidth="width320"/>
        <!--Used in XAML Designer. DO NOT REMOVE-->
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>

  <!-- Microphone capability required for TextToSpeech -->
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>
